* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(./assets/img/rick_astley.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);;
    min-height: 100vh;
    font-family: 'Nunito Sans', Verdana, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}

.player-wrapper {
    min-width: 320px;
    width: 30%;
    background-color: rgb(34, 34, 34);
}

.cover-wrapper {
    padding: 30px;
}

.cover-wrapper img {
    width: 100%;
}

.content-wrapper {
    padding: 0 30px 30px;
}

.song-artist {
    color: rgb(209, 176, 46);
    font-weight: 700;
    font-size: 2vmax;
}

.song-title {
    font-weight: 400;
    font-size: 1.5vmax;
    margin-bottom: 10px;
}

.time-wrapper {
    font-size: 1vmax;
    display: flex;
    justify-content: space-between;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmax;
}

.button {
    width: 3vmax;
    height: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon {
    border-radius: 50%; 
}

.btn-icon:hover {
    cursor: pointer;  
    background-color: rgba(209, 176, 46, 0.734);
    transition: all .4s ease;
}

.btn-icon:active {
    width: 1.5vmax;
    height: 1.5vmax;
}

.prev_next-btn {
    background-size: 100%;
    width: 2vmax;
    height: 2vmax;
    background-color: transparent;
    border: 0;
}

.prev-song-btn {
    background-image: url(./assets/svg/play-prev.svg);
}

.next-song-btn {
    background-image: url(./assets/svg/play-next.svg);
}

.play-btn {
    background-image: url(./assets/svg/play.svg);
    background-size: 100%;
    width: 3vmax;
    height: 3vmax;
    background-color: transparent;
    border: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
}

footer div:nth-child(2) {
    margin-right: 50px;
}

.link {
    width: 90px;
    height: 100%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.link:last-child {
    width: 40px;
}

.link a {
    display: flex;
    height: 100%;
    
}

@media (max-width: 1070px) {
    .song-artist {
        font-size: 21px;
    }
    .song-title {
        font-size: 16px;
    }
    .time-wrapper {
        font-size: 11px;
    }
    .button {
        width: 32px;
        height: 32px;
    }
    .prev_next-btn {
        width: 22px;
        height: 22px;
    }
    .play-btn {
        width: 32px;
        height: 32px;
    }
}