* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(assets/img/rick_astley.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);;
    min-height: 100vh;
    font-family: 'Nunito Sans', Verdana, sans-serif;
    color: #fff;

}

.player-wrapper {
    min-width: 320px;
    width: 30%;
    margin: auto;
    background-color: rgb(34, 34, 34);
}

.cover-wrapper {
    padding: 30px;
}

.cover-wrapper img {
    width: 100%;
}